{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/css/favicon.css') }}">
{% endblock %}
{% block content %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">TITRE</th>
                <th class="text-center">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td class="text-center">
                    {{ page.titre }}
                </td>
                <td>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 col-lg-6 text-center">
                                <a href="{{ path('back-office_page_modify',{id:page.id}) }}">
                                    <i class="favicon fa fa-pencil fa-2x"></i>
                                </a>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-6 text-center">
                                <a href="#">
                                    <i class="favicon fa fa-line-chart fa-2x"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}