<div class="col-xs-12 mb-2">
  <app-navbar [titreNavbar]="this.title" [logged]="logged"></app-navbar>
</div>
<div class="container-fluid" *ngIf="logged">
  <div class="alert alert-success" *ngIf="successMessage" role="alert" (click)="deleteAlert()">
    {{ successMessage }}
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-md-6" *ngFor="let page of pages">
        <div class="card" style="width: 18rem;">
          <a routerLink="['pages',{{page?.id}}]">
            <img class="card-img-top" src="{{ page?.images }}" alt="Card image cap"/>
          </a>
          <div class="card-body">
            <p class="card-text">{{ page?.subContent }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 text-center">
  <h6 id="footer">&copy; Tous droits réservés</h6>
</div>
