<div class="col-xs-12 mb-5">
  <app-navbar [titreNavbar]="this.title"></app-navbar>
</div>
<div class="col-xs-12">
  <form method="POST" novalidate>
    <div class="text-center form-group">
      <label for="name">Name</label>
      <input type="text" id="name" value="{{objectUser?.name}}" class="form-control"  name="name" [(ngModel)]="newObjectUser.name"/>
    </div>
    <div class="text-center form-group">
      <label for="username">User Name</label>
      <input type="text" id="username" value="{{objectUser?.username}}" class="form-control"  name="username" [(ngModel)]="newObjectUser.username"/>
    </div>
    <div class="text-center form-group">
      <label for="mail">Mail</label>
      <input type="text" id="mail" value="{{objectUser?.mail}}" class="form-control"  name="mail" [(ngModel)]="newObjectUser.mail"/>
    </div>
    <div class="col-xs-12 text-center">
      <input type="submit" value="submit" (click)="setUsers()"/>
    </div>
  </form>
</div>
<div class="col-xs-12 text-center">
  <h6 id="footer">&copy; Tous droits réservés</h6>
</div>
