<div class="col-xs-12 mb-5">
  <app-navbar [titreNavbar]="this.title"></app-navbar>
</div>
<div class="col-xs-12">
  <div (click)="deleteAlert()" class="alert alert-danger" *ngIf="errorMessage" role="alert">
    {{ errorMessage }}
  </div>
  <form novalidate method="POST">
    <div class="text-center form-group">
      <label for="mail">Mail</label>
      <input type="mail" required class="form-control" id="mail" name="mail" [(ngModel)]="loginObject.mail">
    </div>
    <div class="text-center form-group">
      <label for="password">Password</label>
      <input type="password" required class="form-control" id="password" name="password" [(ngModel)]="loginObject.password">
    </div>
    <div class="col-xs-12 text-center">
      <button type="button" (click)="setLogin()">Submit</button>
    </div>
  </form>
  <div class="col-xs-12 mt-5 text-center">
    <a routerLink="/registration">Pas encore inscrit ?<br>Inscrivez-vous ici...</a>
  </div>
  <div *ngIf="logged">
    <a routerLink="pages"><button class="btn btn-success">Suite site</button></a>
  </div>
</div>
<div class="col-xs-12 text-center">
  <h6 id="footer">&copy; Tous droits réservés</h6>
</div>
