<div class="col-xs-12 mb-2">
  <app-navbar [titreNavbar]="this.title"></app-navbar>
</div>
<div class="row">
  <div class="col-12">
    <form novalidate>
      <div class="form-group text-center">
        <label for="nameRegistration">name</label>
        <input required type="text" class="form-control" id="nameRegistration" name="mail" [(ngModel)]="registrationObject.name">
      </div>
      <div class="text-center form-group">
        <label for="usernameRegistration">User Name</label>
        <input required type="text" class="form-control" id="usernameRegistration" name="mail" [(ngModel)]="registrationObject.username">
      </div>
      <div class="text-center form-group">
        <label for="mailRegistration">Mail</label>
        <input required type="text" class="form-control" id="mailRegistration" name="mail" [(ngModel)]="registrationObject.mail">
      </div>
      <div class="text-center form-group">
        <label for="passwordRegistration">Password</label>
        <input required type="text" class="form-control" id="passwordRegistration" name="password" [(ngModel)]="registrationObject.password">
      </div>
      <div class="col-xs-12 text-center">
        <button type="button" (click)="setValeurRegistration();registrationActive = false;">Submit</button>
      </div>
    </form>
  </div>
</div>
<div class="col-xs-12 text-center">
  <h6 id="footer">&copy; Tous droits réservés</h6>
</div>
