<div class="col-12">
    <div class="row">
        <div class="col-xs-6 text-center" data-toggle="collapse" data-target="#Ordinateur">
            <i class="fa fa-mobile fa-2x"></i>
        </div>
        <div class="col-xs-6 text-center">
            <button class="dropdown-toggle" data-toggle="collapse" data-target="#mobile">
                Mobile
            </button>
        </div>
        <div class="col-xs-12 text-left">
            {% include 'components/underComponents/mobile.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-center">
            <i class="fa fa-tablet fa-2x"></i>
        </div>
        <div class="col-xs-6 text-center">
            <button class="dropdown-toggle" data-toggle="collapse" data-target="#tablet">
                Tablet
            </button>
        </div>
        <div class="col-xs-12 text-left">
            {% include 'components/underComponents/tablet.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-center">
            <i class="fa fa-desktop fa-2x"></i>
        </div>
        <div class="col-xs-6 text-center">
            <button class="dropdown-toggle" data-toggle="collapse" data-target="#Ordinateur">
                Desktop
            </button>
        </div>
        <div class="col-xs-12 text-left">
            {% include 'components/underComponents/desktop.html.twig' %}
        </div>
    </div>
</div>